@import "compass";
@import "normalize";
@import "../fonts/stylesheet.css";

$caecilia: 'PMNCaeciliaW01-86HeavyI';

body {
  background: #a09487;
}

canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
}

circle {
  /* fill: #a09487; */
  fill: none;
  stroke: #b9afa5;
  stroke-opacity: 0.8;
  stroke-width: 2.5;
  @include translateZ(0);

  &.queued {
    stroke: #fdb913;
  }

  &.temp {
    stroke: #40CE25;
    stroke-opacity: 0.5;
  }

  &.reject {
    stroke: red;
    stroke-opacity: 0.5;
  }

  &.placement {
    stroke: #a09487;
    stroke-opacity: 1;
  }
}

h1 {
  /* color: rgba(#fff, 0.75); */
  color: #fff;
  font-family: franchise;
  font-size: 128px;
  font-size: 16vmin;
  font-weight: normal;
  line-height: 0.85;
  margin: 0;
  opacity: 0.75;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  z-index: 20;

  span {
    /* opacity: 0; */
    @include translateZ(0);
  }

  .line {
    display: block;
  }

  .line1 .word1 .char3 {
    font-style: normal;
    padding: 0 0.03em;
  }
}

footer {
  bottom: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 100;

  a {
    bottom: 40px;
    color: rgba(#fff, 0.75);
    font-family: $caecilia;
    font-size: 12px;
    position: absolute;
    text-decoration: none;
    z-index: 100;
  }

  .attrib {
    left: 40px;
  }

  .us {
    right: 40px;
  }

  img {
    opacity: 0.75;
    width: 40px;
  }
}

#ui {
  background: #a09487;
  bottom: 40px;
  left: 40px;
  padding: 10px;
  position: absolute;
  z-index: 100;

  input[type=text] {
    background: rgba(#fff, 0.75);
    border: none;
    color: #333;
    font-size: 12px;
    padding: 0.5em;
  }

  p {
    color: rgba(#fff, 0.75);
    margin: 0;
    font-family: $caecilia;
    font-size: 12px;

    b {
      font-weight: normal;
      opacity: 0;
    }
  }

  .dot1 {
    -webkit-animation-name: dot1;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
  }

  .dot2 {
    -webkit-animation-name: dot2;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
  }

  .dot3 {
    -webkit-animation-name: dot3;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
  }

  a {
    color: rgba(#fff, 0.75);
    font-family: $caecilia;
    font-size: 12px;
    padding: 0.25em;
    text-decoration: none;
  }
}

#download-json {
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes pulse {
  0% { @include text-shadow(none); }
  50% { @include text-shadow(0 0 10px rgba(255, 255, 255, 0.8)); }
  100% { @include text-shadow(none); }
}

@-webkit-keyframes dot1 {
  0%   { opacity: 0; }
  19%  { opacity: 0; }
  20%  { opacity: 1; }
  100% { opacity: 1; }
}

@-webkit-keyframes dot2 {
  0%   { opacity: 0; }
  39%  { opacity: 0; }
  40%  { opacity: 1; }
  100% { opacity: 1; }
}

@-webkit-keyframes dot3 {
  0%   { opacity: 0; }
  59%  { opacity: 0; }
  60%  { opacity: 1; }
  100% { opacity: 1; }
}

.algo-demo {
  background: #fff;

  #ui {
    background: #b9afa5;
    bottom: 20px;
    left: 20px;

    a {
      color: #fff;
    }
  }
}

#legend {
  font-family: $caecilia;
  color: #333;
  padding: 5px;
  position: absolute;
  background: #fff;
  top: 20px;
  right: 20px;
  font-size: 12px;
  z-index: 100;

  ul {
    @include reset-list-style;
    @include reset-box-model;
  }

  .placed {
    color: #b9afa5;
  }

  .queued {
    color: #fdb913;
  }

  .candidate {
    color: #40CE25;
  }

  .rejected {
    color: red;
  }
}
