@import "compass";
@import "../fonts/stylesheet.css";

body {
  background: #a09487;
}

canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
}

circle {
  /* fill: #a09487; */
  fill: none;
  stroke: #b9afa5;
  stroke-opacity: 1;
  stroke-width: 2.5;
  @include translateZ(0);
}

h1 {
  color: rgba(#fff, 0.75);
  font-family: franchise;
  font-size: 128px;
  font-size: 16vmin;
  line-height: 0.85;
  margin: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  z-index: 20;

  span {
    display: block;
  }

  i {
    font-style: normal;
    padding: 0 0.03em;
  }
}
