---
title: Slow-mo demo of bubble algorithm
---
<div id="legend">
  <ul>
    <li class="placed">Placed</li>
    <li class="queued">Queued</li>
    <li class="candidate">Candidate</li>
    <li class="rejected">Reject</li>
  </ul>
</div>
<div id="ui">
  <p>
    <a id="restart" href="#">Start over</a>
  </p>
</div>
  <%= javascript_include_tag  "all-algo-demo" %>

