---
title: Guaranteed to generate at least 1,323 bubbles
---
<div id="ui">
  <p class="message-box">
  <span class="message">Generating</span><b class="dot1">.</b><b class="dot2">.</b><b class="dot3">.</b>
  </p>
  <div id="download">
    <input id="filename" type="text" placeholder="Filename" size="10" />
    <a id="download-json" href="#">Download JSON</a>
  </div>
</div>

  <%= javascript_include_tag  "all-generator" %>
